.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background: #333;
    padding-top: 60px;
    transition: 0.3s;
}
.open-menu {
    right: 0;
}
